</head>
<body>
  <nav>
    <i class="fa-solid fa-jet-fighter"></i>
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : "" %>
    >Add Flight</a>
    <a 
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : "" %>
    >All Flights</a>
  </nav>