<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

  <h1>
    <%= title %>
  </h1>
  <div>
    <a href="/flights">See All Flights</a> <br>
  </div>
  <div>
    <a href="/flights/new">Book a Flight</a>
  </div>

  <%- include('./partials/footer') %>