body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(32, 32, 32);
  color: rgb(217, 217, 217);
}

h1 {
  color: rgb(255, 166, 0);
}

div {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #7c9835;
}

a:hover {
  color: #95cd08;
  text-decoration: underline dashed;
}
