table {
  font-size: 1rem;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

table tr:hover {
  background-color: rgb(215, 249, 249);
}
a:hover {
  color: rgb(77, 212, 212);
}