table {
  font-size: 1rem;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

tr:hover {
  color: rgb(32, 32, 32);
  background-color: rgb(217, 217, 217);
  transform: scale(1.05);
}

table th:hover {
  background-color: rgb(32, 32, 32);
  color: rgb(217, 217, 217);
}
